body {
  background: linear-gradient(rgba(255,255,255,1),rgba(0,0,0,0)), url('bg-spacetoad.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  font-family: "Futura", "Helvetica", "Arial";
  font-size: 10vw;
  color: black;
}

#content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  padding: 20px;
  background-color: white;
  opacity: .8;
}


a:link {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  opacity: .9;
}

a:visited {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  opacity: .9;
}

a:hover {
  color: #00AAFF;
  text-transform: uppercase;
  text-decoration: none;
  opacity: .9;
}

a:active {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  opacity: .9;
}
